#sidebar {
    width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -250px;
}

.flex-grow-1 {
    width: calc(100% - 250px);
    transition: all 0.3s;
}

#sidebar.active + .flex-grow-1 {
    width: 100%;
}

.sidebar-header {
    background: #f8f9fa;
}

.sidebar-header h3 {
    margin: 0;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    color: #333;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background: #e9ecef;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #e9ecef;
}

#sidebar ul li ul {
    padding-left: 20px;
}

.image-preview {
    position: relative;
    text-align: center;
}

.image-preview img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-preview img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.image-actions {
    margin-top: 10px;
}

.image-actions button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    .flex-grow-1 {
        width: 100%;
    }
    #sidebarToggle {
        display: inline-block;
    }
}
